/* id or class */
/* id are used primarily only once */
/* class is used multiple times */

#burritoBackground{
    color: orange;
    background-color: purple;
}

.veggieItem{
    font-style: italic;
    font-weight: bold;
    color: rgb(3, 193, 251);
}


.menuBackground{
    color: orange;
    background-color: purple;
}