/* id or class */
/* id are used primarily only once */
/* class is used multiple times */

body{
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #574c4f;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

#burritoBackground{
    color: orange;
    background-color: purple;
}

.veggieItem{
    font-style: italic;
    font-weight: bold;
    color: rgb(3, 193, 251);
}


.menuBackground{
    color: orange;
    background-color: purple;
}

.top-bar{
    text-align: left;
    padding: 5px 0;
    background-color: purple;
    color: #efeae1;
    font-size: 14px;
    height: 43px;
}

.top-bar a{
    color: #efeae1;
    text-decoration: none;
}
